<a href="https://colab.research.google.com/github/OnzyBoy/Python_CDAV/blob/main/1_CDAV_python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")

In [ ]:
# User Defined Functions
def Addition():
  return 1+1

Addition()

# User defined functions w/ parameters and arguments

In [ ]:
def addition(x,y): #args
  return x + y

num1 = int(input("Enter Firts Number: "))
num2 = int(input("Enter Second Number: "))

print(addition(num1,num2)) #params

Function that adds any 2 numbers and divides the result by 100

In [ ]:
def ToDivide(x,y):
  return (x+y)/100

num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))

print(ToDivide(num1,num2))

In [ ]:
def toDivide(x,y):
  print ((x+y)/100)

toDivide(100,100)

Variables

In [ ]:
def minus(a,b):
  return (a-b)

temp_diff = minus(90,10) + 1 #variable name temp_diff
print(temp_diff)

Create a function called 'Grader'. Function should take 3 arguments
*   cat_1 - 20%
*   cat_2 - 30%
*   exam - 100%

Formula is (cat_1/100 * 20) + (cat_2/100 * 30) + (exam/100 * 50)

In [ ]:
def grader(cat_1,cat_2,exam):
  total_marks = (cat_1/100 * 20) + (cat_2/100 * 30) + (exam/100 * 50)
  return total_marks

# cat_1 = int(input("Enter Marks for Cat 1: ")) #Converts to int and will be permanently stored in as an int
# cat_2 = int(input("Enter Marks for Cat 2: "))
# exam = int(input("Enter Marks for Exam: "))

cat_1 = input("Enter Marks for Cat 1: ")
cat_2 = input("Enter Marks for Cat 2: ")
exam = input("Enter Marks for Exam: ")

print(grader(int(cat_1),int(cat_2),int(exam))) #Only converts to int during function call
type(cat_1)

Enter Marks for Cat 1: 75
Enter Marks for Cat 2: 85
Enter Marks for Exam: 75
78.0

str

# Data types / Typecasting

*   str - to string
*   int - to integer (numeric)
*   float - to float (numeric)
*   bool - to boolean (True/False)

Integer Ops
*   ** - power
*   % modulus

In [ ]:
i = 45.8 #float
print(int(i)) #typecast to integer

In [ ]:
def powers(x,y):
  return x%y #x to the power of y

print(powers(10,3))

In [ ]:
temp = int(input("What's the temperature outside? "))
print("The temp outside is" , temp, "degrees")
type(temp)

In [ ]:
#Simple Calculator
def addition(x, y):
    return x + y

def subtraction(x, y):
    return x - y

def multiplication(x, y):
    return x * y

def division(x, y):
    if y == 0:
        return "Cannot divide by zero!"
    return x / y

operation = input("Which Calculation do you want to perform? \n 1. Addition \n 2. Subtraction \n 3. Multiplication \n 4. Division \n")

num1 = float(input("Enter First Number: "))
num2 = float(input("Enter Second Number: "))

if operation == "1":
    print("Result:", addition(num1, num2))
elif operation == "2":
    print("Result:", subtraction(num1, num2))
elif operation == "3":
    print("Result:", multiplication(num1, num2))
elif operation == "4":
    print("Result:", division(num1, num2))
else:
    print("Invalid Input")

Which Calculation do you want to perform?
 1. Addition
 2. Subtraction
 3. Multiplication
 4. Division
2
Enter First Number: 10
Enter Second Number: 5
Result: 5.0

# Packages

In [ ]:
#Convert to radians for trig functions
import math as m

print(m.radians(25))

0.4363323129985824

In [ ]:
from math import sqrt #To import a specific function
print(sqrt(25))

5.0

In [ ]:
import pandas as pd #as - aliasing

# String Operations

In [ ]:
#string joining + duplication
first = "Mary"
second = "Jane"

full_name = first + " " + second
print(full_name)

full_name * 2

# Functions are called on a specific value
# Methods are introduced by a .operator

Mary Jane

'Mary JaneMary Jane'

In [ ]:
#String Length
len(full_name)

#Converting to capital letters
first.upper()

#Converting to small letters
first.lower()

#Making the first letter to be capital
c = "cat"
c.capitalize()

#Replacing a word/letter occurrence
text = "Sheep"
text.replace("ee", "i")

#Remove spaces around in a string
school_id = "  1046 009"
new_sch_id = school_id.strip().replace(" ","")

#Check if string is made up of numbers
new_sch_id.isdigit()

#Split a string w/ a delimeter
car_brand = "Toyota,BMW,Porsche"
new_car_brand = car_brand.split(",")

# Boolean

In [ ]:
#Comparisons '==', '>' , '<', '>=', '<=' , 'not', '!='
is_cloudy = True
type(is_cloudy)

bool

In [ ]:
a=5
b=7
d=a==b

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(not a!=b)

False
True
False
True
False

In [ ]:
is_raining = False
at_home = True

is_raining and at_home

          #  AND       OR
# T  T       T         T
# T  F       F         T
# F  T       F         T
# F  F       F         F

False