<a href="https://colab.research.google.com/github/OnzyBoy/Python_CDAV/blob/main/3_CDAV_python_Lists_Tuples_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

lists can:
*   Store multiple data types
*   changeable
*   Ordered
*   Allow duplicates

0-based indexing

In [ ]:
#List declaration
names="John|Mary|Edward|Jake|Martha|Earl"
sdt_names=names.split("|")
sdt_names_marks=["John",53,"Mary",67,"Edward",77, True]

type(sdt_names)
len(sdt_names)

6

In [ ]:
#Accessing Lists
sdt_names[1] #Prints Mary
sdt_names[len(sdt_names)-1] #Prints last item (name) - Edward
sdt_names[-1] #Prints last item (name) - Edward

#To know the index of an item (First Occurrence)
sdt_names.index("Mary")

#Accessing a range of values - list slicing
sdt_names[2:] #from index 2 till the end of the list
sdt_names[1:3] #from index 1 to till index 2
sdt_names[:3] #from index 0 to till index 2
sdt_names[-4:-1] #from index 2 till index 4

#Adding an iteration(Skipping value)
sdt_names[::2] #Gets everything from the list and skips every 2nd value

#sdt_names[::-2] #Gets everything from the list and skips every 2nd value and reverses

['John', 'Edward', 'Martha']

In [ ]:
#Adding items to a list
# sdt_names.append("Juliet")

#Updating items in a list
# sdt_names[7]="Matthew"
# sdt_names.reverse() #Reverses the list

#Removing the last item in the list
# sdt_names.pop() #Removes the last item

#Remove an item with an index
#sdt_names.pop(2) #Removes the 3rd item

#Removing a specific item in the list
# sdt_names.remove("Edward")
print(sdt_names)

['Matthew', 'Juliet', 'Earl', 'Martha', 'Jake', 'Edward', 'Mary', 'John']

In [ ]:
#Multiple Lists
jpn_brand = ["Toyota", "Nissan","Mazda"]
ger_brand = ["Audi","Merc","Porsche"]

#Combining multiple lists and assigning to a new variable for that new list
# cars = jpn_brand + ger_brand
# print(cars)
#or
jpn_brand.extend(ger_brand)
# print(jpn_brand)

#To arrange list
jpn_brand.sort() #Arranges in ascending order
print(jpn_brand)

['Audi', 'Mazda', 'Merc', 'Nissan', 'Porsche', 'Toyota']

In [ ]:
#List Methods
marks = [10,20,50,70,50]
print("Total: ", sum(marks)) #Adds everything in a list, must be numerical

print("Maximum: ",max(marks)) #Prints the highest value in the list
print("Minimum: ", min(marks)) #prints the least value in the list

print("Average: ",sum(marks)/len(marks)) #Prints the average value in the list

set(marks) #Returns a data structure which is unique and sorts

Total:  200
Maximum:  70
Minimum:  10
Average:  40.0

{10, 20, 50, 70}

In [ ]:
#Accessing a list individually
for mark in jpn_brand:
  print(mark.upper())

AUDI
MAZDA
MERC
NISSAN
PORSCHE
TOYOTA

# Assignment

In [ ]:
#Name, Product_Name, quantity(int), price(int), status

# cleaning data | # total amount spent | # Average amount spend | # Name of customer with highest amount spent
# lowest amount spent | # most sold item | # number of undelivered items

orders = [
    ["Alice", "Laptop", 1, 750, "delivered"], #/----------------------------------------------0
    ["Bob", "Phone", 2, 400, "pending"], #/---------------------------------------------------1
    ["Charlie", "Headphones", 1, 150, "deli vered"], #/---------------------------------------2
    ["David", "Phone", "two", 400, "delivered"],  # wrong quantity format #/------------------3
    ["Eve", "Monitor", 1, "two hundred", "delivered "],  # price is a string #/---------------4
    ["Frank", "Keyboard", 1, 50, "p3nding"],#/------------------------------------------------5
    ["Grace", "Mouse", 1, 30, "delivered"],#/-------------------------------------------------6
    ["Heidi", "Laptop", 2, 750, "cancelled"],#/-----------------------------------------------7
    ["Ivan", "Phone", 1, 400, "Delivered"],  #/ case inconsistency----------------------------8
    ["Judy", "", 1, 150, "delivered"],  #/ missing item infer by price of item----------------9
]

In [ ]:
#Cleaning for consistent format
orders[2][4] = "delivered"
orders[3][2] = 2
orders[4][4] = "delivered"
orders[4][3] = 200
orders[5][4] = "pending"
orders[8][4]="delivered"
orders[9][1]="Headphones"

In [ ]:
# total amount spent
total_spent = 0
for order in orders:
  qty = int(order[2])
  price = int(order[3])
  amount_spent = qty * price
  total_spent += amount_spent
print("Total amount spent: ", total_spent)

# Average amount spent
average_spent = total_spent / len(orders)
print("Average amount spent: ", average_spent)

#Name of customer with highest amount spent
highest_spent = 0
customer_name = ""
for order in orders:
  qty = int(order[2])
  price = int(order[3])
  amount_spent = qty * price

  if amount_spent > highest_spent:
        highest_spent = amount_spent
        customer_name = order[0] #To access Customer name

print("Customer Name with highest amount spent:", customer_name)

# lowest amount spent
first_qty = int(orders[0][2])
first_price = int(orders[0][3])
lowest_spent = first_qty * first_price
for order in orders:
  qty = int(order[2])
  price = int(order[3])
  amount_spent = qty * price

  if amount_spent < lowest_spent:
    lowest_spent = amount_spent
    customer_name = order[0]

print("Lowest amount spent: ", lowest_spent)
print("Customer name with the lowest amount spent: ", customer_name)

# most sold item
most_sold_item = ""
most_sold_qty = 0
for order in orders:
  qty = int(order[2])
  if qty > most_sold_qty:
    most_sold_qty = qty
    most_sold_item = order[1] #To access Item name

print("Most sold item: ", most_sold_item)

#Number of undelivered items
count = 0
for order in orders:
  qty = int(order[2])
  if order[4] != "delivered":
     count += qty
print("Number of undelivered items:", count)

Total amount spent:  4830
Average amount spent:  483.0
Customer Name with highest amount spent: Heidi
Lowest amount spent:  30
Customer name with the lowest amount spent:  Grace
Most sold item:  Phone
Number of undelivered items:  5

# Tuples

Tuples are:

*   unchangeable
*   Can't change the contents

In [ ]:
names = ("John", "Mary", "Edward", "Jake", "Martha", "Earl")
student_1, student_2, student_3, student_4, student_5, student_6 = names

print(student_1)

John

In [ ]:
def add_sub(a,b):
  sub = a + b
  diff = a-b
  return sub, diff

addition, subtraction = add_sub(10,5)
print(addition)
print(subtraction)

15
5

In [ ]:
#Casting to a  list
list_of_names = list(names)

# casting to a tuple
tuple_of_names = tuple(list_of_names)

#Accessing in a tuple
tuple_of_names[0]

'John'

# Sets

Sets are:

*   unordered, , and .
*   unchangeable* -  you can remove items and add new items.
*   unindexed

# Dictionaries

Dictionaries are:


*   ordered*
*   changeable
*   do not allow duplicates

Key - Value Pairs - Keys can be of any data type

In [ ]:
student_marks = {
    "John": 30,
    "Mary": 18,
    "Peter": 40,
    "has_passed" : True
    }

print(student_marks)

{'John': 30, 'Mary': 18, 'Peter': 40, 'has_passed': True}

In [ ]:
#Accessing items in a dict
student_marks["John"] = 50

#Adding an item
student_marks["Edward"] =45
print(student_marks)

{'John': 50, 'Mary': 18, 'Peter': 40, 'has_passed': True, 'Edward': 45}

In [ ]:
#Dict methods
# student_marks.pop("has_passed")
# print(student_marks)

student_marks.keys()
student_marks.values()
student_marks.items()

dict_items([('John', 50), ('Mary', 18), ('Peter', 40), ('Edward', 45)])

In [ ]:
for student in student_marks.keys():
  print(student)

John
Mary
Peter
Edward

In [ ]:
for student, marks in student_marks.items():
  print(student,"scored", marks)

John scored 50
Mary scored 18
Peter scored 40
Edward scored 45

In [ ]:
# print out the customer who spent the most
# e.g Peter bought a bulb for 50 KES on 21/02/2015
customer_data = {
    "Jane":["Lamp",500,"20/02/2015"],
    "Peter":["bulb",50,"21/02/2015"],
    "Alfred":["Socket",250,"20/02/2015"],
    "Eden":["Lamp",500,"22/02/2015"],
}

# max_spent =  max(item[1] for item in customer_data.values()) #List comprhension
max_spent = 0
for c in customer_data.values():
  if c[1] > max_spent:
    max_spent = c[1]
    #print(max_spent)

for customer, item in customer_data.items():
    if item[1] == max_spent:
      print(customer, "bought a", item[0], "for", item[1], "KES on", item[2])

Jane bought a Lamp for 500 KES on 20/02/2015
Lamp
bulb
Socket
Eden bought a Lamp for 500 KES on 22/02/2015
Lamp

In [ ]:
price_list = [item [1] for item in customer_data.values()]
print(price_list)

[500, 50, 250, 500]

Assignment

In [ ]:
students_data = {
    "S001": {"name": "Alice", "age": 20, "score": 88, "passed": True},
    "S002": {"name": "Bob", "age": 22, "score": 76, "passed": True},
    "S003": {"name": "Charlie", "age": 21, "score": 45, "passed": False},
    "S004": {"name": "David", "age": 23, "score": 92, "passed": True},
    "S005": {"name": "Eva", "age": 20, "score": 34, "passed": False}
}

students_data.items()

dict_items([('S001', {'name': 'Alice', 'age': 20, 'score': 88, 'passed': True}), ('S002', {'name': 'Bob', 'age': 22, 'score': 76, 'passed': True}), ('S003', {'name': 'Charlie', 'age': 21, 'score': 45, 'passed': False}), ('S004', {'name': 'David', 'age': 23, 'score': 92, 'passed': True}), ('S005', {'name': 'Eva', 'age': 20, 'score': 34, 'passed': False})])

In [ ]:
# Add a new student with ID "S006" name "Frank", age 22, score 80, passed True
students_data["S006"] = {"name": "Frank", "age": 22, "score": 80, "passed": True}

#Create a list called "top_performers" that contains students who scored above 75.
top_performers = []
for student_code, student_info in students_data.items():
  if student_info["score"] > 75:
    top_performers.append(student_info["name"])
#print("Top performers:",top_performers)

#create a function that when given a student's name returns the data on the student, if the student is not present it should return "student not found"
def retrieve_student_data(nme):
  for student_code, student_info in students_data.items():
    if student_info["name"] == nme:
      return student_info
  return "Student not found"

#ask_name = input("Enter student name to search: ")
#print(retrieve_student_data(ask_name))

#Create a dictionary containing summary values based on the data above as follows:
# summary = {
#     "total_students": ...,
#     "students_passed": ...,
#     "highest_score": ...,
#     "lowest_score": ...
# }

summary = {}
summary["total_students"] = len(students_data)
sdt_pass = 0
for student_code, student_info in students_data.items():
  if student_info["passed"]:
    sdt_pass += 1

summary["students_passed"] = sdt_pass
summary["highest_score"] = max(student_info["score"] for student_code, student_info in students_data.items())
summary["lowest_score"] = min(student_info["score"] for student_code, student_info in students_data.items())

print(summary)

{'total_students': 6, 'students_passed': 4, 'highest_score': 92, 'lowest_score': 34}