In [2]:
# 1. Create a list of your 8 foods and store it in a variable called foods.
# pizza cake banana kales pizza chicken beef
foods = ["pizza", "cake", "banana", "kales", "pizza", "chicken", "beef", "rice"]

In [3]:
# 1.1. Print the first and last item in the foods list.
print("First ",foods[0], "Last ", foods[-1])

First  pizza Last  rice

In [4]:
# 1.2. Replace the third item in the list with another food.
foods[2] = "pixes"
print(foods)

['pizza', 'cake', 'pixes', 'kales', 'pizza', 'chicken', 'beef', 'rice']

In [5]:
# 1.3. Add a new food to the end of the list using .append().
foods.append("steak")
print(foods)

['pizza', 'cake', 'pixes', 'kales', 'pizza', 'chicken', 'beef', 'rice', 'steak']

In [8]:
# 1.4. Remove one food from the list using .remove().
foods.remove("pizza")
foods.append("apple")
print(foods)

['cake', 'pixes', 'kales', 'chicken', 'beef', 'rice', 'steak', 'apple']

In [11]:
# 1.5. Use a for loop to print each item in the list on a new line.
foods.append("pizza")
for food in foods:
    print(food)

cake
pixes
kales
chicken
beef
rice
steak
apple
pizza

In [10]:
# 1.6. Use a loop to print only the foods that start with the letter "a".
for food in foods:
    if food.startswith("a"):
        print(food)

apple

In [12]:
# 1.7. Count how many times "pizza" appears in the list.
pizza_count = 0
for food in foods:
    if food == "pizza":
        pizza_count += 1
print(pizza_count)

1

In [13]:
# 1.8. Print the second to fourth items using slicing.
# Remember that slicing is getting a range of values using the square brackets and index
print(foods[1:4])

['pixes', 'kales', 'chicken']

In [17]:
# 1.9. Print the list in reverse using slicing.
food_reverse = foods[::-1]
print(food_reverse)

['cake', 'pixes', 'kales', 'chicken', 'beef', 'rice', 'steak', 'apple', 'pizza']

In [19]:
# 2. Create a list of numbers: 5 2 9 1 7
num = [5,2,9,1,7]

In [20]:
# 2.1 Use the following functions:
# sum() to calculate total
# max() to find the highest
# min() to find the smallest
num_sum = sum(num)
num_max = max(num)
num_min = min(num)
print(f"Sum {num_sum}, Highest {num_max}, Lowest {num_min} ")

Sum 24, Highest 9, Lowest 1

In [22]:
# 2.2. Sort the list in ascending and descending order using .sort() and .reverse().
#ascending
num.sort()
# print(num)
#descending
num.reverse()
print(num)

[9, 7, 5, 2, 1]

In [23]:
# 2.3. Use .insert() to add the number 10 at index 2.
num.insert(2,10)
print(num)

[9, 7, 10, 5, 2, 1]

In [28]:
# 3. Create the nested list of students below and their scores:
# then print each student's name and score using a loop.
students = [["Alice", 85], ["Bob", 78], ["Charlie", 92]]

for student in students:
    print(f"Student Name: {student[0]}, Score {student[1]}")

Student Name: Alice, Score 85
Student Name: Bob, Score 78
Student Name: Charlie, Score 92

In [30]:
# 3.1. Find the student with the highest score.
for student in students:
  if student[1] == max(students)[1]:
    print(f"Student Name: {student[0]}, Score {student[1]}")

Student Name: Charlie, Score 92

In [2]:
# 4. Write a function that asks the user to enter 5 numbers and stores them in a list.
num = []
while len(num) < 5:
  num.append(int(input("Enter a number: ")))
print(num)

Enter a number: 10
Enter a number: 12
Enter a number: 15
Enter a number: 18
Enter a number: 25
[10, 12, 15, 18, 25]

In [4]:
# 4.1. Write a function that removes all even numbers from the list provided by the user.'
def remove_even(numbers):
    odd_numbers = []
    for n in numbers:
      #Returns Odd
        if n % 2 != 0:
            odd_numbers.append(n)
    return odd_numbers

num = []
while len(num) < 5:
    num.append(int(input("Enter a number: ")))

print("Original list:", num)

num = remove_even(num)
print("List without even numbers:", num)

Enter a number: 15
Enter a number: 10
Enter a number: 12
Enter a number: 18
Enter a number: 25
Original list: [15, 10, 12, 18, 25]
List without even numbers: [15, 25]

In [7]:
# 5. Merge two lists:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

new_list = list1+list2
print(new_list)

[1, 2, 3, 4, 5, 6]

In [10]:
# 6. Ask the user to input student names until they type "stop". Store all names in a list and print it at the end.
student_names=[]
while True:
  name = input("Enter Student Name: ")
  if name == "stop":
    print("Bye")
    break
  student_names.append(name)
print(student_names)

Enter Student Name: Hannah
Enter Student Name: Belinda
Enter Student Name: Valentine
Enter Student Name: Samantha
Enter Student Name: Reece
Enter Student Name: Rick
Enter Student Name: stop
Bye
['Hannah', 'Belinda', 'Valentine', 'Samantha', 'Reece', 'Rick']

In [12]:
# 6.1. From the list of names, print only those that are longer than 5 characters.
for name in student_names:
  if len(name) > 5:
    print(name)

Hannah
Belinda
Valentine
Samantha